{% extends "base.html" %}



{% block content %}

	{% if validlink %}
		<section class="form-reset">
			<h1>Set a new password!</h1>
			<form method="POST" class="form-reset__items">
				{% csrf_token %}
				<div class="form-reset__errors">{{ form.non_field_errors }}</div>
				{% for field in form %}
					<div class="form-reset__errors">{{ field.errors }}</div>
					<div class="form-reset__label_tag">{{ field.label_tag }}</div>
					<div class="field">{{ field }}</div>
				{% endfor %}

				<button type="submit" value="" class="add-to-cart" style="width: 50%; margin-bottom: 50px;">Change my password</button>
			</form>
		</section>
	{% else %}

		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
			reset.</p>

	{% endif %}
{% endblock %}