{% extends 'base.html' %}

{% load static %}


{% block content %}
	<main class="main">
		<section class="cards">
			{% for el in object_list %}
				<div class="card {{ el.title }}">
					<img src="{{ el.photo.url }}" alt="NONE" style="margin-bottom: 10px;">
					<img src="{% static 'backend_ecommerce/img/liked.svg' %}" style="height: 32px; width: 32px; ">
					<p>{{ el.title }}</p>
					<div class="price-n-button">
						<p>{{ el.price }} $</p>
						<a href="{{ el.get_absolute_url}} ">Purchase</a>
					</div>
				</div>
                {% empty %}
                <h1>Sorry bro, no items</h1>
			{% endfor %}
		</section>
	</main>
{% endblock %}


{% block java_include %}
	<script src="{% static 'backend_ecommerce/js/index.js' %}"></script>
{% endblock %}

