{% load static %}
<footer class="footer">
	<div class="upper">
		<section class="footer left-side">
			<h3 class="footer-logo">Ecommerce</h3>
			<ul class="footer-ul about-us">
				<li class="footer-title about_us">About us</li>
				<li class="footer-text ">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua"
				</li>
			</ul>
			<ul class="footer-ul contact-us">
				<li class="footer-title contact-us">Contact us</li>
				<li class="footer-text"><a href="tel:+555 555 555">+555 555 555</a>
					<img class="footer-img" src="{% static 'backend_ecommerce/img/call-calling-svgrepo-com.svg' %}">


				<li class="footer-text"><a href="mailto:example.com">example.com</a>
					<img class="footer-img" src="{% static 'backend_ecommerce/img/email-8-svgrepo-com.svg' %}">

				</li>
			</ul>
		</section>
		<section class="footer-center">
			<div class="to-right">
				<ul class="footer-ul information">
					<li class="footer-title information">Information</li>
					<li class="footer-text"><a href="">About Us</a></li>
					<li class="footer-text"><a href="">More Search</a></li>
					<li class="footer-text"><a href="">Blog</a></li>
					<li class="footer-text"><a href="">Events</a></li>
					<li class="footer-text"><a href="">Coming Soon...</a></li>
				</ul>
				<ul class="footer-ul helpful_links">
					<li class="footer-title helpful_links">Helpful Links</li>
					<li class="footer-text"><a href="#">Services</a></li>
					<li class="footer-text"><a href="#">Support</a></li>
					<li class="footer-text"><a href="#">Terms & Condition</a></li>
					<li class="footer-text"><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
		</section>
		<section class="footer right-side">

			<p class="footer-text">Subscribe For More Info</p>
			<input class="footer-input" placeholder="Enter your Email">
			<button class="#">Subscribe</button>


		</section>
	</div>

	<hr style="width: 100%; margin-bottom: 20px;">
	<div class="lower">
		<section class="footer-social-networks">
			<div class="sn">
				<a href=""><img src="{% static 'backend_ecommerce/img/instagram-svgrepo-com.svg' %}" alt=""></a>
				<a href=""><img src="{% static 'backend_ecommerce/img/linkedin-svgrepo-com.svg' %}" alt=""></a>
				<a href=""><img src="{% static 'backend_ecommerce/img/facebook-svgrepo-com.svg' %}" alt=""></a>
				<a href=""><img src="{% static 'backend_ecommerce/img/twitter-svgrepo-com.svg' %}" alt=""></a>
			</div>
			<div class="copyrights">
				<p >2023 &#xA9; Ivan Voloshanskyi</p>
			</div>
		</section>
	</div>

</footer>