<div class="tabs">
	<ul class="tabs_list">
		<li class="tabs_item {% if request.resolver_match.url_name == 'item-page' %}active{% endif %}"><a href="{% url 'item-page' object.id %}">Item</a></li>
		<li class="tabs_item {% if request.resolver_match.url_name == 'item-description' %}active{% endif %}"><a href="{% url 'item-description' object.id %}">Description</a></li>
		<li class="tabs_item {% if request.resolver_match.url_name == 'item-review' %}active{% endif %}"><a href="{% url 'item-review' object.id %}">Reviews {{ object.reviews.count }}</a></li>
	</ul>
</div>
